<div class="container-fluid align-content-center" align="center" *ngIf="job_applications">
  <div (submit)="onApplySubmit()" align="justify" class="card border-info mb-3" style="max-width: 40rem;" *ngFor="let job of job_applications; let i = index">

    <div class="card-header" ><i class="material-icons mdi-18px">place</i> <a>{{job.company.name}}</a></div>
    <div class="card-body">
      <h4 class="card-title" style="color: green">{{job.title}}</h4>
      <p class="card-text">{{job.description}}</p>
      <p>Experience Required: {{job.experience}} years</p>
      <p style="color: blue; font-weight: bold;"> Number of Applicants: {{job.temp_employees.length}}</p>
      <div align="right">
        <button type="button" class="btn btn-outline-info btn-sm" (click)="onShowApplication(job.id)">Show Application</button>
      </div>
    </div>
  </div>
</div>
