
<!--<table class="table table-hover">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th scope="col">Job Id</th>-->
    <!--<th scope="col">Title</th>-->
    <!--<th scope="col">Description</th>-->
    <!--<th scope="col">Category</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--</tbody>-->
<!--</table>-->


    <!--<div class="card" *ngFor="let job of jobs">-->
      <!--<div class="card-body">-->
        <!--<h4 class="card-title">{{job.title}}</h4>-->
        <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <!--<a href="#" class="card-link">Card link</a>-->
        <!--<a href="#" class="card-link">Another link</a>-->
      <!--</div>-->
    <!--</div>-->
<p></p>
<body>
  <!--<div class="row align-content-center">-->
    <!--<div class="col-sm-10 col-md-10 pull-righ align-content-center" *ngIf="authService.loggedIn() || authService.employeeLoggedIn()">-->
      <!--<form class="navbar-form my-2 my-lg-0 align-content-center" role="search">-->
        <!--<div class="input-group align-content-center">-->
          <!--<button class="btn btn-secondary my-2 my-sm-0 no-border-radius-right" type="submit">All</button>-->
          <!--<input type="text" class="form-control" placeholder="Search Books..." name="srch-term" id="srch-term">-->
          <!--<div class="input-group-btn">-->
            <!--<button class="btn btn-default btn-warning no-border-radius-left" type="submit"><i class="material-icons mdi-10px md-black">search</i></button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
  <div class="container-fluid align-content-center" align="center">
    <div *ngIf="jobs && jobs.length == 0" class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4 class="alert-heading">No Jobs Found!</h4>
      <p class="mb-0">Click on the following link to go Home,
        <a *ngIf="authService.loggedIn()" [routerLink]="['']" class="alert-link">Home</a>
        <a *ngIf="authService.employeeLoggedIn()" [routerLink]="['/company']" class="alert-link">Home</a>.
      </p>
    </div>
    <div (submit)="onApplySubmit()" align="justify" class="card border-info mb-3" style="max-width: 40rem;" *ngFor="let job of jobs; let i = index">

      <div class="card-header" ><i class="material-icons mdi-18px">place</i> <a>{{job.city}}</a></div>
      <div class="card-body">
        <h4 class="card-title" style="color: green">{{job.title}}</h4>
        <p class="card-text">{{job.description}}</p>
        <p>Experience Required: {{job.experience}} years</p>
        <div align="right">
          <button *ngIf="authService.loggedIn()" type="submit" (click)="onApplySubmit(i)" class="btn btn-outline-primary btn-sm">Apply</button>
          <button *ngIf="authService.employeeLoggedIn()" type="submit" class="btn btn-outline-primary btn-sm">Edit</button>
          <button type="button" class="btn btn-outline-info btn-sm" (click)="onShowMore(i)">Show More</button>
        </div>
      </div>
    </div>
  </div>
</body>
