<app-navbar></app-navbar>
<!--<div class="container">-->
  <!--<flash-messages></flash-messages>-->
  <!--<router-outlet></router-outlet>-->
  <!--&lt;!&ndash;<app-datepicker></app-datepicker>&ndash;&gt;-->
<!--</div>-->
<mat-sidenav-container style="height: max-content">
  <mat-sidenav mode="side" opened="true"  class="nav-side-menu">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content style="height: max-content">
    <div class="container" style="height: 100%">
      <flash-messages></flash-messages>
      <div class="container-fluid" >
        <router-outlet></router-outlet>
      </div>
      <!--<app-datepicker></app-datepicker>-->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
