<div class="jumbotron">
  <div class="marginLeft20">
    <h2 class="page-header">Create Job</h2>
    <div class="box-form"></div>
    <form (submit)="onJobSubmit()" layout="horizontal" class="col-sm-3" class="col-sm-8">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" [(ngModel)]="title" name="title" class="form-control" id="title" placeholder="Enter Job Title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" [(ngModel)]="description" id="description" name="description" placeholder="Enter Job Description" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select [(ngModel)]="type" name="type" class="form-control" id="type">
          <option>None</option>
          <option>Part-Time</option>
          <option>Full-Time</option>
        </select>
      </div>
      <div class="form-group">
        <label for="experience">Experience</label>
        <input type="number" [(ngModel)]="experience" name="experience" class="form-control" id="experience" placeholder="Enter Experience Years Required">
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" [(ngModel)]="category" name="address" class="form-control" id="category" placeholder="Enter Category">
      </div>
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div>
</div>
